header
{
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #34404C;
  width: auto;
  height: 70px;
  position: fixed;
}

header img
{
  height: 50px;
  width: 100px;
  margin: 10px;
}

a
{
  text-decoration: none;
  color: white;
  font-family: fantasy;
}

.logo
{
  float: left;
}

.menu
{
  float: left;
  margin-top: 25px;
}

.menu span
{
  width: 500px;
  height: 90px;
  margin-left: 70px;
}

.menu span a:hover, .logout_link:hover
{
  text-decoration: underline;
}

.panel
{
  float: right;
  margin-top: 21px;
  margin-right: 20px;
}

.panel input
{
  width: 150px;
  height: 23px;
  font-family: fantasy;
}

.panel button
{
  background-color:#869099;
  border-style: none;
  height: 30px;
  width: 80px;
  border-radius: 3px;
}

.panel button:hover
{
  cursor: pointer;
  background-color: aquamarine;
}

.login_link:hover
{
  text-decoration: underline;
}

#content
{
  border-radius: 3px;
  margin-top: 70px;
  float: left;
  width: 960px;
  height: 960px;
  background-color: #778899;
  margin-bottom: 5px;
  color: white;
}

#content h1
{
  text-align: center;
}

#terbaru
{
  border-radius: 3px;
  margin-top: 70px;
  float: left;
  width: 365px;
  height: 960px;
  margin-left: 5px;
  background-color: #998C77;
}

#terbaru .baru{
  border: 1px solid black;
  background-color: transparent;
  width: 180px;
  height: 130px;
  margin: 50px 0px 0px 92.5px;
}

footer
{
  border-radius: 3px;
  background-color: #34404C;
  width: auto;
  height: 70px;
  clear: both;
  list-style-type: none;
  text-align: center;
}

#navkategori{
  padding-top: 20px;
}

.kategori:hover{
  text-decoration: underline;
}

.kategori{
  font-size: 20px;
  padding: 10px;
  margin: 0px 40px 0px 0px;
}
