header
{
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #34404C;
  width: auto;
  height: 70px;
  position: fixed;
}

header img
{
  height: 50px;
  width: 100px;
  margin: 10px;
}

a
{
  text-decoration: none;
  color: white;
  font-family: fantasy;
}

.logo
{
  float: left;
}
.menu
{
  float: left;
  margin-top: 25px;
}

.menu span
{
  width: 500px;
  height: 90px;
  margin-left: 70px;
}

.menu span a:hover , .logout_link:hover
{
  text-decoration: underline;
}

.panel
{
  float: right;
  margin-top: 21px;
  margin-right: 20px;
}

.panel input
{
  width: 150px;
  height: 23px;
  font-family: fantasy;
}

.panel button
{
  background-color:#869099;
  border-style: none;
  height: 30px;
  width: 80px;
  border-radius: 3px;
}

.panel button:hover
{
  cursor: pointer;
  background-color: aquamarine;
}

.signup_link:hover
{
  text-decoration: underline;
}

#content
{
  margin-top: 70px;
  float: left;
  width: 960px;
  height: 960px;
  background-color: #778899;
  margin-bottom: 5px;
  border-radius: 3px;
}

.gambar
{
  width: 500px;
  height: 700px;
  background-color: lightgray;
  margin: auto;
  border-radius: 2px;
  margin-top: 10px;
}

.gambar img
{
  width: 400px;
  height: 600px;
  margin-left: 50px;
  margin-top: 10px;
}

#options
{
  float: left;
  margin: 10px;
}

#description
{
  margin-top: 70px;
  float: left;
  width: 365px;
  height: 700px;
  background-color: #998C77;
  margin-left: 5px;
  border-radius: 3px;
}

footer
{
  background-color: #34404C;
  width: auto;
  height: 70px;
  clear: both;
  border-radius: 3px;
}

.judul, .pembuat, .deskripsi, .kategori
{
  font-weight: normal;
  font-family: fantasy;
  margin-left: 30px;
}
