header
{
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #34404C;
  width: auto;
  height: 70px;
  position: fixed;
}

a
{
  text-decoration: none;
  color: white;
  font-family: fantasy;
}

.logo img
{
  height: 50px;
  width: 100px;
  margin: 10px;
  float: left;
}

.menu-left
{
  float: left;
  margin-top: 25px;
}

.menu-left span
{
  margin-left: 70px;
}

.panel
{
  float: right;
  margin-top: 21px;
  margin-right: 20px;
}

.panel input
{
  width: 150px;
  height: 23px;
  font-family: fantasy;
}

.panel button
{
  background-color:#869099;
  border-style: none;
  height: 30px;
  width: 80px;
  border-radius: 3px;
}

.panel button:hover
{
  cursor: pointer;
  background-color: aquamarine;
}

.menu ul li, .panel ul li
{
  display: inline;
  margin-right: 25px;
}

.menu span a:hover, .panel ul li a:hover, .logout_link:hover
{
  text-decoration: underline;
}

#content
{
  border-radius: 3px;
  margin-top: 70px;
  float: left;
  width: 960px;
  height: 960px;
  background-color: #778899;
  margin-bottom: 5px;
}

#content div
{
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
  width: 230px;
  height: 300px;
  background-color: aliceblue;
}

.thumbnails
{
  width: 220px;
  height: 240px;
  margin: 5px;

}

.caption_thumbnails, .author
{
  color: black;
  margin-top: 0px;
  margin-left: 5px;
  margin-top: -9px;
  font-family: fantasy;
}

#category , #terbaru
{
  border-radius: 3px;
  margin-top: 70px;
  float: left;
  width: 365px;
  height: 700px;
  background-color: #998C77;
  margin-left: 5px;
}

footer
{
  border-radius: 3px;
  background-color: #34404C;
  width: auto;
  height: 70px;
  clear: both;
  text-align: center;
}

#navkategori{
  padding-top: 20px;
}

.kategori:hover{
  text-decoration: underline;
}

.kategori{
  font-size: 20px;
  padding: 10px;
  margin: 0px 40px 0px 0px;
}
