#wrapper
{
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  background-color: #34404C;
  border-radius: 3px;
}

h2
{
  padding-top: 20px;
  color: white;
  font-family: fantasy;
  text-align: center;
}

.input
{
  padding-top: 20px;
}

input, button,.tanya_akun
{
  width: 250px;
  height: 30px;
  margin: auto;
  display: block;
  margin-bottom: 5px;
}

button:hover
{
  cursor: pointer;
}

.tanya_akun
{
  font-family: fantasy;
  color: white;
  font-weight: normal;
  font-size: 15px;
}

.tanya_akun a
{
  color: white;
}

.tanya_akun a:hover
{
  color: blue;
}

.warning
{
  font-family: fantasy;
  color: white;
  font-weight: normal;
  font-size: 15px;
  margin-left: 75px;
}
